<!DOCTYPE html>
<html>
<head>
  <title>Short URL</title>
</head>
<body>
  <h1>Your Short URL</h1>
  <p><a href="<%= shortUrl %>"><%= shortUrl %></a></p>
  <a href="/">Shorten another</a>
</body>
</html>
